*{
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
}
.header{
	padding-top:30px;
	width: 100%;
	height:50px;
	background-color:rgba(50,50,50,.9);
	border-bottom: 2px solid black;
	position:fixed;
	top:0;
	z-index: 2;
	text-align: center;
}
.pageLink{
	font-size: 130%;
	margin-left: 5%;
	margin-right: 5%;
}
.pageLink:link {
    color: #F7CE74;
    text-decoration: none;
}

/* visited link */
.pageLink:visited {
    color: #F7CE74;
}
/* mouse over link */
.pageLink:hover {
    color: #FFFF2E;
    text-decoration: underline;
}
/* selected link */
.pageLink:active {
    color: blue;
}
#gitLink{
	font-weight: bold;
	color:blue;
	margin-left: 48%;
}
#gitLink:link{
	text-decoration: none;
}
#gitLink:hover{
	color: #FFFF2E;
    text-decoration: underline;
}
.body{
	margin-top: 80px;
	background-color:rgba(192,192,192,0.5);
	margin-left: 15%;
	margin-right:15%;
	position:relative;
	font-size:18px;
}
.container{
	position:absolute;
	top:0;
	bottom: 0;
	overflow: auto;
	height: 100%;
	background-image:url("images/background1.jpg");
}
#me{
	padding-top:5%;
	padding-left:28%;
}
#aboutMe{
	padding-top:2%;
	padding-left: 18%;
	padding-right:15%;
}
#resume{
	padding-top:5%;
	padding-left:20%;
	padding-bottom:5%;
}

.folioPiece{
	border-bottom:2px solid black;
	padding:2%;
	padding-bottom:5%;
	padding-top:5%;
}
#tdPic{
	margin-right: 2%;

}
#description{
	width: 30%;
	position:relative;
	float:right;
}
#caPic{
	margin-left: 3%;
}
#cbcPic{
	margin-left: 3%;
}
#description2{
	padding-left:5%;
	width: 45%;
	position:relative;
	display: inline-block;
}
#art{
	display:inline-block;
	margin-left: 75%;
	margin-top:-35%;
}
.codeLink{
	color: blue;
}
.linkedIn{
	width:50px;
	height:50px;
	padding-left: 2%;
	text-align: center;
	margin-bottom: 2%;
}